<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each do |user| %>
  <div class="well">
    <%= image_tag(Twitter.profile_image(user.name_twitter)) %>
  <%= user.name_twitter %>
  <%= Twitter.user(user.name_twitter)[:description] %>
</div><!--well-->
<% end %>
