<!DOCTYPE html>
<html>
<head>
  <title>Prunion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">

</div><!--navbar-inner-->
</div><!--navbar-->
  <div class="container">
<%= yield %>
</div><!--container-->
</body>
</html>
